.modal {
    display: none;
    position: fixed;
    z-index: 77777;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &__content{
        background-color: $bg_light_blue;
        padding: 5rem 4rem;
        width: 82rem;
        position: relative;
        border-radius: 2rem;
    }
    &__close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
        svg{
            width: 2.3rem;
            height: 2.3rem;
        }
    }
    &__title{
        margin-bottom: 0.8rem;
        color: $text;
        text-align: center;
    }
    &__suptitle{
        color: $text;
        margin-bottom: 3rem;
        text-align: center;
    }
    &__form{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    &__form-btn{
        width: 100%;
        padding: 2rem 0 2.2rem;
        border-radius: 4.1rem;
        margin-bottom: 2rem;
    }
    &__form-input{
        width: 36rem;
        padding: 1.8rem 2rem 2rem;
        border-radius: 4.1rem;
        background-color: $white;
        border: none;
        outline: none;
        font-size: 1.6rem;
    }
    .modal__successfully{
        display: none;
    }
    .modal__error{
        display: none;
     }
    &__form-descr{
        text-align: center;
        width: 100%;
        a{
            display: inline;
            color: $primary;
            text-decoration-line: underline;
            text-underline-offset: 0.5rem;
            &:hover{
                color: $primary;
                transition: all 0.3s;
            }
        }
    }
}

.modal__content.successfully{
    .modal__normal{
        display: none;
    }
    .modal__successfully{
        display: block;
        max-width: 60rem;
        margin: auto;
    }
    .modal__error{
       display: none;
    }
    img{
        width: 11rem;
        height: 11rem;
        margin-bottom: 3rem;
        margin: 0 auto;
        display: block;
    }
    .modal__successfully-btn{
        padding: 2rem 3.5rem;
        border-radius: 4.1rem;
        font-weight: 600;
        margin: auto;
        display: block;
    }
}

.modal__content.error{
    .modal__normal{
        display: none;
    }
    .modal__successfully{
        display: none;
    }
    .modal__error{
       display: block;
    }
    img{
        width: 11rem;
        height: 11rem;
        margin-bottom: 3rem;
        margin: 0 auto;
        display: block;
    }
    .modal__successfully-btn{
        padding: 2rem 3.5rem;
        border-radius: 4.1rem;
        font-weight: 600;
        margin: auto;
        display: block;
    }
}




